html { font-family: serif; }
body { color: black; background-color: white; margin: 0 auto 1em auto; width: 1000px; }
h1 { text-align: center; }
table { border: 1px outset grey; width: 100%; }
th, td { border: thin inset grey; }
td.usage { text-align: right; }
thead th.name { background-color: bisque; }
thead th.usage { color: white; background-color: steelblue; }
tbody th { text-align: left; font-weight: normal; }
tbody tr:nth-child(even) { background-color: whitesmoke; }
tfoot th { text-align: left; }
tfoot th, tfoot td { background-color: silver; }
